@page {
  margin: 0;
}
body {
  margin: 0;
  user-select: none;
}
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

.inputdata {
  background: white;
  box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
  right: 5mm;
  left: 220mm;
  top: 5mm;
  border: 2px solid #000;
  position: fixed;
  z-index: 5;
}

/** Paper sizes **/
body.A3 .sheet {
  width: 297mm;
  height: 419mm;
}
body.A3.landscape .sheet {
  width: 420mm;
  height: 296mm;
}
body.A4 .sheet {
  width: 210mm;
  height: 296mm;
}
body.A4.landscape .sheet {
  width: 297mm;
  height: 209mm;
}
body.A5 .sheet {
  width: 148mm;
  height: 209mm;
}
body.A5.landscape .sheet {
  width: 210mm;
  height: 147mm;
}
body.letter .sheet {
  width: 216mm;
  height: 279mm;
}
body.letter.landscape .sheet {
  width: 280mm;
  height: 215mm;
}
body.legal .sheet {
  width: 216mm;
  height: 356mm;
}
body.legal.landscape .sheet {
  width: 357mm;
  height: 215mm;
}

/** Padding area **/
.sheet.padding-10mm {
  padding: 10mm;
}
.sheet.padding-15mm {
  padding: 15mm;
}
.sheet.padding-20mm {
  padding: 20mm;
}
.sheet.padding-25mm {
  padding: 25mm;
}

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A3.landscape {
    width: 420mm;
  }
  body.A3,
  body.A4.landscape {
    width: 297mm;
  }
  body.A4,
  body.A5.landscape {
    width: 210mm;
  }
  body.A5 {
    width: 148mm;
  }
  body.letter,
  body.legal {
    width: 216mm;
  }
  body.letter.landscape {
    width: 280mm;
  }
  body.legal.landscape {
    width: 357mm;
  }
  .inputdata {
    display: none;
  }
}

@page {
  size: A4;
}
img {
  width: 100%;
  margin-top: -25px;
  margin-left: -11px;
}
.h {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding-top: 3px;
}
.n {
  border: 2px solid #000;
  padding: 7px;
  font: 700 18px "Nirmala UI";
  width: max-content;
  margin-top: 15px;
}
.l {
  position: absolute;
  margin-left: 5px;
}
.r {
  float: right;
  margin-right: 5px;
}
.i {
  font: 700 16px "Nirmala UI";
  margin-top: 95px;
  outline: none;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}
th {
  border: 2px solid #000;
  font: 700 15px "Nirmala UI";
  outline: none;
}

td:nth-child(1) {
  font: 700 15px "Nirmala UI";
}

td {
  border: 2px solid #000;
  font: 500 15px "Nirmala UI";
  text-align: center;
  outline: none;
}

.iw {
  font: 700 18px "Nirmala UI";
  margin-top: 20px;
  outline: none;
}

.f {
  font: 700 20px "Nirmala UI";
  position: absolute;
  margin-top: 20px;
  right: 60px;
}

#footer {
  position: absolute;
  bottom: 150px;
  width: 95%;
}
